<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> This is an app </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item fill="outline">
      <ion-input placeholder="Email" type="text"> </ion-input>
    </ion-item>
    <ion-item fill="outline">
      <ion-input placeholder="password" type="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block">LOGIN</ion-button>

  <ion-button (click)="takePicture()"> Take a picture </ion-button>
  <div *ngIf="image">
    <img [src]="image" />
  </div>
</ion-content>
